extends layout


block content
    include menu.pug
    .container(style="margin-top: 15px;" data-ng-controller="controller")
        .row
            .col-12
                .table-responsive
                    table.table.table-hover(style='white-space: nowrap;')
                        thead
                            tr 
                                each column in data.table_fields
                                    th #{column.label}
                        tbody
                            each row in data.result
                                tr(style="cursor: pointer" onclick="openLink('"+data.tablename+"', '"+row.sys_id+"')")
                                    each column in data.table_fields
                                        td #{row[column.name]}
    script.
        function openLink(tablename, sys_id) {
            window.location.href = `/dt/${tablename}?sys_id=${sys_id}&last_page=${window.location.pathname}${window.location.search}`;
        }